@import url('https://fonts.googleapis.com/css2?family=Pixelfy+Sans&display=swap');

.app-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFCCD9; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Pixelfy Sans', sans-serif;
  /* Fallback to generic sans-serif if Pixelfy Sans is unavailable */
}

